body {
    font-family: Impact, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url("imgs/giphy.webp");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
}

header {
    background-color: #202020;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.card {
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 220px;
    position: relative;
    margin-top: 5%;
    width: 40%;
    margin-right: 28%;
}

.button-group {
    margin: 0;
    position: absolute;
    top: -37px; 
    right: 760px;
    display: flex;
}

.btn {
    background-color: #ff0000;
    font-family: impact, sans-serif;
    letter-spacing: 1px;
    color: white;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
.btn1 {
    background-color: #52c32c;
    font-family: impact, sans-serif;
    letter-spacing: 1px;
    color: white;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #662929;
}
.btn1:hover {
    background-color: #203c1a;
}

.npor-img {
    width: 300px;  
    height: 300px; 
    padding: 0;
    margin: 0;
    position: relative;
    left: 35%;
    bottom: 365px;
}

.card-content {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}
.card-info {
    font-family: Impact, sans-serif;
    position: relative;
    padding: 0;
    width: 50%;
    height: 100%;
    bottom: 20px;
    margin: 10px;
}
.card-clock {
    font-family: Impact, sans-serif;
    position: relative;
    padding: 0;
    width: 48%;
    height: 100%;
    left: 470px;
    bottom: 560px;
    margin: 100px;
}

.card-clock1 {
    font-family: Impact, sans-serif;
    position: relative;
    padding: 0;
    width: 43%;
    height: 100%;
    left: 485px;
    bottom: 300px;
    margin: 100px;
}


.clock-img {
    width: 70%;
    height: 70%;
    position: relative;
    left: 50px;
}

#time-display {
    white-space: pre-line;
}

.gdh {
    position: relative;
    left: 25%;
    font-size: 23px;
    bottom: 10px;
}

.cript-input {
    width: 350px; 
    padding: 10px; 
    border: 2px solid #9e9696; 
    border-radius: 15px; 
    font-size: 16px; 
    outline: none; 
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s ease; 
}

.cript-input:focus {
    border-color: #007BFF; 
}

.btn-cript {
    width: 120px;
    padding: 30px;
    position: relative;
    bottom: 40px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.btn-cript:hover {
    background-color: #0056b3; 
}

.attachment {
    border: 1px solid #747373;
    border-radius: 4px;
    padding: 10px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo */
    background-color: #f9f9f9;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    position: absolute; /* Remove do fluxo normal e permite sobreposição */
    top: 200px; /* Ajuste conforme necessário */
    right: 700px; /* Ajuste conforme necessário */
    z-index: 1000; /* Garante que o elemento esteja acima dos outros */
}

.attachment-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.attachment-link {
    color: #007bff;
    text-decoration: none;
}

.attachment-link:hover {
    text-decoration: underline;
}